.hero {
  height: 350px;
  margin-top: 50px;
  padding-top: 50px;
  font-weight: 300;
  text-align: center;
}

.hero {
  color: #c1d38b;
  background-color: #385361;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    right top,
    color-stop(0%, #000),
    color-stop(100%, #385361)
  );
  background-image: -webkit-linear-gradient(45deg, #000 0, #385361 100%);
  background-image: -moz-linear-gradient(45deg, #000 0, #385361 100%);
  background-image: -ms-linear-gradient(45deg, #000 0, #385361 100%);
  background-image: -o-linear-gradient(45deg, #000 0, #385361 100%);
  background-image: linear-gradient(45deg, #000 0, #385361 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#385361', GradientType=1);
}

.text-left{
    text-align: left;
}

.text-right {
    text-align: right;
}

.title-text {
    font-weight: 1000;
}

.text-center {
    text-align: center;
}

.lead {
    font-weight: 300;
}

.key-section {
    padding: 50px
}